*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* write all your rules below */
#heading {
    display:flex;
    border: 20px solid red;
    background-color: pink;
    width: 50vw;
    height: 20vh
}

.box-1 {
    display:block;
    width: 100vw;
    height: 30vh;
    background-color: aqua;
    text-align:center;
    text-justify:center;
}